* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #4776e6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8e54e9), to(#4776e6));
  background: linear-gradient(to right, #8e54e9, #4776e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 600% 600%;
  -webkit-animation: GradientBackground 10s ease infinite;
          animation: GradientBackground 10s ease infinite;
}

.Content {
  height: 300px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.box {
  position: relative;
  -webkit-box-shadow: 3px 3px 46px -20px #000000;
          box-shadow: 3px 3px 46px -20px #000000;
  background-color: #4776e6;
  opacity: 0.9;
  border-radius: 10px;
  width: 800px;
  height: 200px;
  padding-top: 30px;
  overflow: hidden;
}

.Block button {
  width: 100px;
  color: white;
}

.item {
  background: #ffb347;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#ffcc33), to(#ffb347));
  background: linear-gradient(to top, #ffcc33, #ffb347);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 200px;
  width: 170px;
  height: 150px;
}

.item h1 {
  font-size: 40px;
  color: white;
}

.Line {
  position: absolute;
  height: 500px;
  width: 2px;
  background-color: black;
  right: 50%;
  top: -10px;
  z-index: 1;
}

.SpinBtn {
  width: 200px !important;
}

@-webkit-keyframes GradientBackground {
  0% {
    background-position: -750px 0px;
  }
  50% {
    background-position: -3450px 1500px;
  }
  100% {
    background-position: -750px 0px;
  }
}

@keyframes GradientBackground {
  0% {
    background-position: -750px 0px;
  }
  50% {
    background-position: -3450px 1500px;
  }
  100% {
    background-position: -750px 0px;
  }
}

.WinningAnimation {
  -webkit-animation: popup 0.5s ease-in;
          animation: popup 0.5s ease-in;
}

.WinningModal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head" "body";
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0px 0px;
  height: 250px;
  width: 250px;
  z-index: 2;
}

.WinningHead {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #1c59e6;
  /* fallback for old browsers */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

.WinningNumber {
  color: white;
  font-size: 50px;
}

.WinningBtn {
  width: 200px;
}

.WinningBody {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #eeeeee;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.6;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.6;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=Main.css.map */