.WinningAnimation {
  animation: popup 0.5s ease-in;
}

.WinningModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-areas:
    "head"
    "body";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  height: 250px;
  width: 250px;
  z-index: 2;
}

.WinningHead {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background: #1c59e6; /* fallback for old browsers */
  grid-area: head;
}

.WinningNumber {
  color: white;
  font-size: 50px;
}

.WinningBtn {
  width: 200px;
}

.WinningBody {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #eeeeee;
  grid-area: body;
}

@keyframes popup {
  0% {
    transform: scale(1.05);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
